---
import Layout from "../../layouts/Layout.astro";

const sidebarItems = [
  { name: "Contact", href: "#footer" },
  { name: "Back to top", href: "#top" },
];
---

<Layout title="Privacy Policy" sidebarItems={sidebarItems}>
  <div class="main-content">
    <h1>Privacy Policy</h1>

    <h2>1. Introduction</h2>
    <p>
      This Privacy Policy governs the manner in which Pearce Odegard collects,
      uses, maintains, and discloses information collected from users (referred
      to as "you" or "user") of the pearceodegard.com website (referred to as
      "the Website"). This Privacy Policy applies to the Website and all
      products and services offered by Pearce Odegard.
    </p>

    <h2>2. Information We Collect</h2>
    <p>
      <strong>a. Personal Identification Information:</strong> We may collect
      personal identification information from you when you use the contact form
      on the Website. This information may include your name, email address, and
      any other information you voluntarily provide.
    </p>

    <h2>3. How We Use Collected Information</h2>
    <p>We collect and use personal information for the following purposes:</p>
    <ul>
      <li>To respond to your inquiries submitted through the contact form.</li>
      <li>
        To improve customer service and personalize your experience on the
        Website.
      </li>
      <li>
        To send periodic emails regarding your inquiries and other relevant
        updates. You may opt out of receiving these emails at any time.
      </li>
    </ul>

    <h2>4. Data Retention</h2>
    <p>
      <strong
        >a. Any data submitted via the contact form will be stored for the sole
        purpose of responding to your inquiry. Once your inquiry has been
        addressed and your request satisfied, we will promptly delete your data
        from the system, subject to any legal or regulatory requirements.</strong
      >
    </p>

    <h2>5. How We Protect Your Information</h2>
    <p>
      We implement reasonable security measures to protect your personal
      information. However, please be aware that no data transmission over the
      internet is entirely secure, and we cannot guarantee the security of data
      transmitted to us electronically.
    </p>

    <h2>6. Sharing Your Personal Information</h2>
    <p>
      We do not sell, trade, or rent your personal information to others. We may
      share generic aggregated demographic information not linked to any
      personal identification information regarding visitors and users with
      business partners, trusted affiliates, and advertisers for the purposes
      outlined above.
    </p>

    <!-- Continue with remaining sections as needed -->

    <h2>7. Changes to This Privacy Policy</h2>
    <p>
      We reserve the right to update this Privacy Policy at any time. We
      encourage you to review this Privacy Policy periodically for any changes.
    </p>

    <h2>8. Contact Us</h2>
    <p>
      If you have any questions about this Privacy Policy, the practices of the
      Website, or your interactions with the Website, please <a href="/contact"
      ></a>contact us.
    </p>
  </div>
</Layout>

<style>
  .main-content {
    font-family: "VulfSansDemo", sans-serif;
  }
  h2 {
    text-align: left;
  }
  .contact-email {
    font-style: italic;
  }
</style>
