---
import Layout from "../../layouts/Layout.astro";

const sidebarItems = [
  { name: "Contact", href: "#footer" },
  { name: "Back to top", href: "#top" },
];
---

<Layout title="Privacy Policy" sidebarItems={sidebarItems}>
  <div class="main-content">
    <html>
      <head>
        <title>Privacy Policy</title>
      </head>

      <body>
        <h1>Privacy Policy</h1>

        <h2>1. Introduction</h2>
        <p>
          This Privacy Policy governs the manner in which Pearce Odegard
          (referred to as "me" or "I") collects, uses, maintains, and discloses
          information collected from users (referred to as "you" or "user") of
          the pearceodegard.com website (referred to as "the Website"). This
          Privacy Policy applies to the Website and all products and services
          offered by Pearce Odegard.
        </p>

        <h2>2. Information I Collect</h2>
        <p>
          <strong>a. Personal Identification Information:</strong> I may collect
          personal identification information from you when you use the contact
          form on the Website, powered by FormSubmit. This information may
          include your name, email address, and any other information you
          voluntarily provide.
        </p>

        <h2>3. How I Use Collected Information</h2>
        <p>
          I collect and use personal information for the following purposes:
        </p>
        <ul>
          <li>
            To respond to your inquiries submitted through the contact form,
            powered by FormSubmit.
          </li>
          <li>
            To improve customer service and personalize your experience on the
            Website.
          </li>
        </ul>

        <h2>4. Data Retention</h2>
        <p>
          <strong>
            a. Any data submitted via the contact form powered by FormSubmit is
            sent directly to me as an email to be read by me and only me.
          </strong>
        </p>

        <h2>5. How I Protect Your Information</h2>
        <p>
          I implement reasonable security measures to protect your personal
          information. However, please be aware that no data transmission over
          the internet is entirely secure, and I cannot guarantee the security
          of data transmitted to us electronically.
        </p>

        <h2>6. Sharing Your Personal Information</h2>
        <p>
          I do not sell, trade, or rent your personal information to others.
        </p>

        <h2>7. Changes to This Privacy Policy</h2>
        <p>
          I reserve the right to update this Privacy Policy at any time. We
          encourage you to review this Privacy Policy periodically for any
          changes.
        </p>

        <h2>8. Contact Us</h2>
        <p>
          If you have any questions about this Privacy Policy, the practices of
          the Website, or your interactions with the Website, please email me
          <a href="https://formsubmit.co/el/bevaci">here</a>.
        </p>
      </body>
    </html>
  </div>
</Layout>

<style>
  .main-content {
    font-family: "VulfSansDemo", sans-serif;
  }
  h2 {
    text-align: left;
  }
  .contact-email {
    font-style: italic;
  }
</style>
