---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import localHeadshotImage from '../images/headshot.jpg';

const allNavItems = await Astro.glob('../content/nav-items/*.md');
---

<Layout title="Nice lol">
		<h1><span class="text-gradient">Pearce Odegard</span></h1>
		<Image class="headshot" src={localHeadshotImage} alt="Pearce Odegard" />

		<h2>Freelance Developer and Tech Instructor</h2>

		<p class="description">
			I am a freelance developer and tech instructor. I specialize in full-stack web development, 
			with a particular love for <em>Node</em> and <em>TypeScript</em>. 
			I also have a passion for teaching, with experience teaching online <em>JavaScript</em>, <em>Java</em>, and <em>C#</em> courses 
			for <a href="https://www.launchcode.org/">LaunchCode</a>.
		</p>

		<ul role="list" class="link-card-flex">
			{
				allNavItems.map((item) => (
					<Card 
					href={item.frontmatter.href} 
					title={item.frontmatter.titleLines} 
					body={item.compiledContent()} 
					/>))
			}
		</ul>
</Layout>

<style>

	.headshot {
		display: flex;
		left: 50%;
		width: 200px;
		height: auto;
		margin: auto;
		border-radius: 50%;
		align-items: center;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		font-family: 'VulfMonoBlackDemo', sans-serif;
	}
	h2 {
		font-size: 3rem;
		font-weight: bold;
		line-height: 1;
		text-align: center;
		font-family: 'VulfSansDemo', sans-serif;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.description {
		margin-bottom: 1rem;
		/* text-align: center; */
		font-family: 'VulfSansDemo', sans-serif;
		flex-grow: 1;
		text-align: center;
	}
	.description > a {
		text-decoration: none;
		color: #333;
		position: relative; /* Needed for the underline animation */
		border-bottom: 2px solid transparent; /* Transparent border by default */
		transition: color 0.3s, border-color 0.3s; /* Add smooth transitions */
	}

	.description > a:hover {
		color: #ffa500; /* Change the link color on hover */
		border-color: #ffa500; /* Change border color on hover */
	}
	.description code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-flex {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		padding: 0;
		/* flex-wrap: wrap; */
	}
	@media (max-width: 768px) {
	.link-card-flex {
		flex-wrap: wrap; /* Enable wrapping on smaller screens */
		justify-content: center; /* Center-align the wrapped items */
	}
}
</style>
