---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allNavItems = await Astro.glob('../content/nav-items/*.md');
---

<Layout title="Nice lol">
	<main>
		<h1><span class="text-gradient">Pearce Odegard</span></h1>
		<h2>Freelance Developer and Tech Instructor</h2>

		<p class="description">
  			I am a freelance developer and tech instructor. I specialize in full-stack web development, 
			with a particular love for <em>Node</em> and <em>TypeScript</em>. 
			I also have a passion for teaching, with experience teaching online JavaScript, Java, and C# courses 
			for <a href="https://www.launchcode.org/">LaunchCode</a>.
		</p>
		<ul role="list" class="link-card-flex">
			{
				allNavItems.map((item) => (
					<Card 
					href={item.frontmatter.href} 
					title={item.frontmatter.titleLines} 
					body={item.compiledContent()} 
					/>))
			}
		</ul>
	</main>
</Layout>

<style>
	@font-face {
		font-family: 'VulfSansDemo';
		src: url('/fonts/VulfSansDemo-Regular.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'VulfSansDemo';
		src: url('/fonts/VulfSansDemo-Light.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'VulfSansDemo';
		src: url('/fonts/VulfSansDemo-Bold.otf') format('opentype');
		font-weight: bold;
		font-style: bold;
		font-display: swap;
	}
	@font-face {
		font-family: 'VulfSansDemo';
		src: url('/fonts/VulfSansDemo-Italic.otf') format('opentype');
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: bold;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		font-family: 'VulfSansDemo', sans-serif;

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.description {
		margin-bottom: 2rem;
		text-align: center;
		font-family: 'VulfSansDemo', sans-serif;
	}
	.description > a {
		text-decoration: none;
		color: #333;
		position: relative; /* Needed for the underline animation */
		border-bottom: 2px solid transparent; /* Transparent border by default */
		transition: color 0.3s, border-color 0.3s; /* Add smooth transitions */
	}

	.description > a:hover {
		color: #ffa500; /* Change the link color on hover */
		border-color: #ffa500; /* Change border color on hover */
	}
	.description code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-flex {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		padding: 0;
		/* flex-wrap: wrap; */
	}
</style>
