---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
import * as navItem from "../content/nav-items/2-work-history.md";
import JobEntry from "../components/JobEntry.astro";

const { title } = navItem.frontmatter;
const jobEntries = await Astro.glob("../content/job-entries/*.md");

const sidebarItems = jobEntries.map((jobEntry) => {
  const { title } = jobEntry.frontmatter;
  return {
    name: title,
    href: `#${title.replace(/\s/g, "")}`,
  };
});
---

<Layout title={title} sidebarItems={sidebarItems}>
  <div class="timeline-container" id="technical-work">
    {
      jobEntries.map((jobEntry, index) => {
        return (
          <>
            <section>
              <JobEntry jobEntry={jobEntry} />
            </section>

            {index < jobEntries.length - 1 && <div class="timeline-divider" />}
          </>
        );
      })
    }
  </div>
</Layout>

<style>
  main {
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }
  .timeline-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "VulfSansDemo", sans-serif;
  }

  .timeline-divider {
    width: 6px; /* Adjust the thickness of the line as needed */
    height: 5rem; /* Adjust the height of the line as needed */
    background-image: var(
      --accent-gradient-reverse
    ); /* Adjust the color as needed */
    box-shadow:
      rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
</style>
