---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
import * as navItem from "../content/nav-items/2-work-history.md";

const { title, subHeading } = navItem.frontmatter;
---

<Layout title={title} subHeading={subHeading}>
  <main>
    <div class="timeline-container">
      <p class="job-entry">Work history placeholder 🥝</p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
