:root {
  --form-fs: clamp(0.8rem, 1vw, 1rem);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: var(--accent-gradient);
  border: rgb(var(--accent-alt)) 2px solid;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 0;
}

.text-input {
  width: 80%;
  padding: 1rem;
  border: rgb(var(--accent-light)) 1px solid;
  border-radius: 0.5rem;
  font-size: var(--form-fs);
}

.text-input::placeholder {
  font-style: italic;
}

input:required:invalid + span::before {
  content: "Please fill out this field"; /* Custom message */
  color: red; /* Text color for the message */
  font-size: 14px;
}

.submit {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background: rgb(var(--accent-light));
  color: white;
  border: white 2px solid;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  font-family: "VulfMonoDemo", monospace;
  font-style: italic;
  cursor: pointer;
}

.submit:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -6px inset,
    rgba(0, 0, 0, 0.3) 0px 9px 18px -9px inset;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust z-index to make sure it's above other content */
}

.loading-message {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid rgb(var(--accent-alt));
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
