.container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  height: 100%;
  width: 15%;
  color: #fff;
  top: 40%;
  left: 0;
  z-index: 1;
  padding: 1rem;
  padding-bottom: 0;
  font-family: "VulfSansDemo", sans-serif;
  border: rgba(var(--accent-light), 0.8) 0.2rem solid;
  border-radius: 0 1rem 1rem 0;
  border-left: none;
}

.heading {
  background-color: rgb(var(--accent-light));
  padding: 1rem;
  border-radius: 2rem;
  margin: 0;
}

ul {
  line-height: 2.5;
  font-size: 1.2rem;
}

.link {
  color: #fff;
  text-decoration: none;
  background-color: rgba(var(--accent-light), 0);
  padding: 0.5rem 0.6rem;
  border-radius: 2rem;
}

.link:hover {
  background-color: rgba(var(--accent-light), 0.8);
  transition: background-color 0.3s ease;
}

.selected {
  background-color: rgba(var(--accent-light), 0.8);
}

@media (max-width: 1400px) {
  .container {
    display: none;
  }
}
