.heading {
  background-color: rgb(var(--accent-light));
  padding: 1rem;
  border-radius: 2rem;
  margin: 0;
}

.page-contents-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: clamp(1rem, 1vw, 1.2rem);
  padding: 0;
  width: 100%;
  border: solid rgb(var(--accent-alt));
  border-width: 0.1rem 0.1rem;
}

.list-item {
  word-wrap: none;
  border: rgb(var(--accent-alt)) solid 0.1rem;
  background-color: var(--gray);
  padding: 0.5rem;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
  border-right: rgb(var(--accent-alt)) solid 0.3rem;
}

.selected {
  background-color: rgba(var(--accent-light), 0.8);
}
